:root{
    --BG: lightblue;
}

* {
  margin: 0;
  padding: 0;
}

body {
    background: var(--BG);
}

.button {
    margin-left: 4rem;
    margin-right: 4rem;
    /*background: lightblue;*/
    text-align: center;
}

.jacob {
  font-family: sans-serif;
  margin-left: 0;
  margin-right: 15%;
  padding: 0.75rem;
  background: var(--BG);
  border: 2px solid #000000;
  text-decoration: none;
  color: #000000;
}


.jacob:hover {
  background: #000000;
  color: var(--BG);
}

.jacob:active {
  background: var(--BG);
  color: #000000;
}


.oscar {
  font-family: sans-serif;
  margin-left: 15%;
  margin-right: 0;
  padding: 0.75rem;
  background: var(--BG);
  border: 2px solid #000000;
  text-decoration: none;
  color: #000000;
}


.oscar:hover {
  background: #000000;
  color: var(--BG);
}

.oscar:active {
  background: var(--BG);
  color: #000000;
}

h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
