.jacobscorner {
  margin: 1rem;
  padding: 1rem;
  background: #ffffff;
  border: 1rem solid #77EAC0;
}

.jacobscorner:hover {
  margin: 1rem;
  padding: 1rem;
  background: #77EAC0;
  border-radius: 1rem;
  border: 1rem solid #77EAC0;
}
