.jacobscorner {
  font-family: sans-serif;
  margin: 3rem auto;
  padding: 1rem;
  background: #ffffff;
  border: 0.5rem solid #77EAC0;
  border-radius: 1rem;
  text-decoration: none;
  color: #77EAC0;
}

.jacobscorner:hover {
  background: #77EAC0;
  color: #ffffff;
}

.jacobscorner:active {
  background: #ffffff;
  color: #77EAC0;
}

h1 {
  text-align: center;
}
